<h2> SG Blog </h2>

<ul>
  <% @posts.each do |post| %>
    <li class="post-title"><%= link_to post.title, post_path(post.id)%></li>
  <% end %>
</ul>

<p class="create_post_button"><%= button_to "Create post", "posts/new", :method => "get" %>
