.navbar-brand {
  font-family: 'Allerta Stencil', sans-serif;
  color: #ffffff !important;
}

#new-post-button {
  margin-right: 5px;
}

.post-title {
  margin-top: 100px;
}

.post-body {
  margin-top: 20px;
}

.post-controls {
  margin-top: 60px;
}

.comments {
 margin-top: 50px;
}
